body{
    background-color:#b7e7ef94;
    display: flex;
    justify-content: center;
}
.quizArea{
    background-color: #81CAF0;
    width: 70%;
    display: flex;
    justify-content: center;
}
button{
    background-color:white;
}
.optionButton{
    width: 8rem;
    height: 3rem;
}