body{
    background-color:#b7e7ef94;
    
}
.quizArea{
    background-color: #81CAF0;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
}
.questionAndOptions{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
button{
    background-color:white;
}
.optionButton{
    width: 8rem;
    height: 3rem;
}
#question, #questionNumber{
    text-align: center;
}
#newQuestionButton{
    margin-left:100%;
}